<h1>About Us</h1>
<p>

	Resolution tracker is a tool to keep track of your progress on resolutions you promised and connect you with similar minds to work together towards your goals to achieve them. 

	If this idea excits you or if you wish to join hands with us, please contact at ps@test.com

	Thanks, 
	-Resolution Tracker Team

 </p>